<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Mode" value="Prod"/>
    <add key="FileOrder" value="C:\Users\dell\Desktop\GuildWork\manning-serafin-individual-work\Labs\FlooringMastery\FlooringMastery\ProductionFiles\"/>
    <add key="FileState" value="C:\Users\dell\Desktop\GuildWork\manning-serafin-individual-work\Labs\FlooringMastery\FlooringMastery\ProductionFiles\Taxes.txt"/>
    <add key="FileProduct" value="C:\Users\dell\Desktop\GuildWork\manning-serafin-individual-work\Labs\FlooringMastery\FlooringMastery\ProductionFiles\Products.txt"/>
  </appSettings>
</configuration>